atl.html
atlantic_author_cache.json
config.py
david a graham.png
david-a-grahamflynn-plea_atlantic_article_cache.html
david-a-grahamflynn-whistleblower-nuclear-plan-sanctions_atlantic_article_cache.                                                                                                                html
david-a-grahamits-not-an-act_atlantic_article_cache.html
david-a-grahamjohn-conyers-and-the-icon-problem_atlantic_article_cache.html
david-a-grahamroy-moore-re-endorsements_atlantic_article_cache.html
david-a-grahamthe-cfpb-and-the-loss-of-faith-in-politics_atlantic_article_cache.                                                                                                                html
david-a-grahamthe-king-is-dead-long-live-the-mike_atlantic_article_cache.html
david-a-grahamthe-strange-saga-of-peter-strzok_atlantic_article_cache.html
david-a-grahamtrent-franks-resignation-surrogate-mothers_atlantic_article_cache.                                                                                                                html
david-a-grahamtrump-access-hollywood-sexual-assault-gaslighting_atlantic_article                                                                                                                _cache.html
david-a-grahamtrump-pocahontas_atlantic_article_cache.html
david-a-grahamtrump-wags-the-dog-jerusalem_atlantic_article_cache.html
david-a-grahamwhat-does-it-take-to-force-a-congressional-resignation_atlantic_ar                                                                                                                ticle_cache.html
mckay coppins.png
mckay-coppinsalabama_atlantic_article_cache.html
mckay-coppinsbannon-utah_atlantic_article_cache.html
mckay-coppinsconservatives-reap-the-whirlwind-of-their-war-on-the-press_atlantic                                                                                                                _article_cache.html
mckay-coppinsgods-plan-for-mike-pence_atlantic_article_cache.html
mckay-coppinshatch-romney_atlantic_article_cache.html
mckay-coppinsjames-okeefe_atlantic_article_cache.html
mckay-coppinsjeff-flake-interview_atlantic_article_cache.html
mckay-coppinsobama-rally_atlantic_article_cache.html
mckay-coppinsthe-vanishing-values-voter_atlantic_article_cache.html
mckay-coppinstrump-election-anniversary_atlantic_article_cache.html
test.png
test.py
test.txt
test_article.html
test2.png
test2.py
testtxt.txt
the-cloud.jpg
venv_finalproj/
